/* 在右侧导航栏添加logo */
.md-header__inner {
  position: relative;
}

.md-header__inner::after {
  content: "";
  background: url('../img/logo-hm.png') no-repeat center center;
  background-size: contain;
  width: 160px;
  height: 50px;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  /* 更强的对比度调整 */
  filter: contrast(2) brightness(1.2) saturate(1.3) drop-shadow(0 0 2px rgba(0,0,0,0.3));
}